{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet consequuntur culpa distinctio dolores hic ipsam molestias perferendis perspiciatis, qui quisquam rem repudiandae rerum sapiente tempora! Architecto impedit mollitia sequi.</p>
        <a href="{% url 'about' %}"><button class="btn btn-warning">To the page about us</button></a>

    </div>
{% endblock %}